fr24key="{{ fr24_key }}"
receiver="{{ fr24_receiver }}"
bs="{{ fr24_bs }}"
raw="{{ fr24_raw }}"
mlat="{{ fr24_mlat }}"
mlat-without-gps="{{ fr24_mlat_without_gps }}"
logmode="{{ fr24_logmode }}"
procargs="--device-index {{ fr24_device_index }} --ppm {{ fr24_sdr_ppm }} {{ fr24_proc_args }}"
